html, body, #app, .online-clip
  height 100%
body
  margin 0
  background #000000
  overflow-x hidden
::-webkit-scrollbar
  width 4px
  height 4px
::-webkit-scrollbar-thumb
  border-radius 5px
  background-color #4d4c4c
